<template name="MasterLayout">
  
<div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
	<button class="menu-icon" type="button" data-toggle></button>
	<div class="title-bar-title">Menu</div>
</div>

<div class="top-bar primary" id="menu">

	<div class="top-bar-left">
		<ul class="menu" data-responsive-menu="accordion">
			<li class="menu-text">{{#linkTo route="home"}}Tessa{{/linkTo}}</li>
			<li>{{#linkTo route="home"}}Visualise{{/linkTo}}</li>
			<li>{{#linkTo route="carsList"}}Records{{/linkTo}}</li>
		</ul>
	</div>

	<div class="top-bar-right">
		<ul class="menu" data-responsive-menu="accordion">
			<li>{{#linkTo route="createCar"}}<button class="button success">Add a Record</button>{{/linkTo}}</li>
		</ul>
	</div>

</div>


  <div class="container" style="margin-top:20px">
    {{> yield}}
  </div>
 
</template>