<template name="MasterLayout">

<div class="title-bar" data-responsive-toggle="realEstateMenu" data-hide-for="small">
	<button class="menu-icon" type="button" data-toggle></button>
	<div class="title-bar-title">Menu</div>
</div>

<div class="top-bar primary" id="menu">

	<div class="top-bar-left">
		<ul class="menu" data-responsive-menu="accordion">
		<li class="menu-text">Tessa</li>
		<li><a href="#">Upload</a></li>
		<li><a href="#">Manage</a></li>
		<li><a href="#">Visualize</a></li>
		</ul>
	</div>
</div>

  {{> yield}}
</template>
